/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: navy;
    position: sticky;
    top: 0;
}

.navbar > .nav-link {
    text-decoration: none;
    padding: 10px;
    color: white;
}