/* Imports */
@import url('common.css');

/* General Styling */
* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Comic Sans Ms', 'helvetica';
}

main {
    flex-grow: 1;
    display: flex;
}

/* Page Transition */
div.page-transition {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    background-color: blueviolet;
}

/* Country Information */
.compare-column {
    flex-grow: 1;
    height: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
}

.info-wrapper {
    width: 100%;
}

.compare-column:hover {
    background-color: dodgerblue;
}

.country-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid cyan;
    border-radius: 20px;
    color: white;
}

.country-info > h2 {
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid white;
    margin-bottom: 5px;
}

.country-info > h3 {
    font-size: 35px;
}

.country-info li {
    font-size: 25px;
}

/* Tables */
.table-wrapper {
    overflow: scroll;
    max-height: 300px;
    width: 100%;
    border: 5px solid cyan;
    border-radius: 20px;
    margin-top: 10px;
}

.table-wrapper * {
    font-size: 1vw;
}

.table {
    width: 100%;
}

table, th, td {
    border: 1px solid navy;
    border-collapse: collapse;
}

th:not(.main-heading) {
    position: sticky;
    top: 0;
    background-color: steelblue;
}

th.main-heading {
    background-color: darkblue;
}

th, td {
    padding: 10px;
}

tr.standard-row:hover {
    background-color: blue;
    color: cyan
}

/* Forms */
.country-selector {
    min-height: 90px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.3);
}
.country-selector > input {
    flex-grow: 3;
    height: 100%;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
    font-size: 13px;
}

.country-selector > button {
    flex-grow: 1;
    height: 100%;
    border: none;
    border-radius: 0 10px 10px 0;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
}
