* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica;
}

body {
    background-color: palegreen;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container {
    max-height: 550px;
    max-width: 90%;
    overflow-y: scroll;
    border: 5px solid green;
}

.table-container * {
    font-size: 1.5vw;
}

/* Forms */
form {
    display: flex;
    background-color: rgba(0,0,0,0.3);
}

.form-container {
    flex-grow: 1;
    display: flex;
    margin: 10px;
}

.form-container:nth-child(2) {
    justify-content: flex-end;
}

.form-container > input {
    flex-grow: 1;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

button#clear-countries, button#compare-countries {
    display: none;
}

select {
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

/* Table Formatting */
table, th, td {
    border: 1px solid darkgreen;
    border-collapse: collapse;
}

thead > tr:first-child > th {
    /* position: sticky;
    top: 0; */
    background-color:aqua;
} 

thead > tr:nth-child(2) > th {
    position: sticky;
    top: 0;
    /* background-color: yellow; */
}

th {
    padding: 10px;
}

th.rank-critereon {
    background-color: blueviolet;
    color: white;
}

th.rank-critereon:hover {
    cursor: pointer;
}

th.selected {
    background-color: red;
    color: white;
}

th.descending::after {
    content: " ↓";
}

th.ascending::after {
    content: " ↑";
}

td {
    padding: 10px;
}

.medal-table {
    padding: 10px;
    height: 100%;
}


/* tbody {
    background-color: greenyellow;
    max-height: 100px;
    overflow-y: scroll;
} */
