/* CSS Imports */
@import url('common.css');

/* General Styling */
main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

* {
    font-family: 'Comic Sans Ms', cursive;
}

.table-container {
    max-height: 550px;
    max-width: 90%;
    overflow-y: scroll;
    border: 5px solid lime;
    box-shadow: 0 0 10px 5px black;
}

.table-container * {
    font-size: 1.5vw;
}

/* Forms */
form {
    display: flex;
    background-color: darkgreen;
    padding: 10px;
}

.form-container {
    flex-grow: 1;
    display: flex;
    margin: 10px;
}

.form-container:nth-child(2) {
    justify-content: flex-end;
}

.form-container > input {
    flex-grow: 1;
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    background-color: mediumseagreen;
    color: white
}

::placeholder {
    color: white;
    font-size: 1.5vw;
}

button {
    border: none;
    background-color: lightgreen;
    color: darkgreen;
    /* border: 1px solid mediumseagreen; */
}

button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

button#clear-countries, button#compare-countries {
    display: none;
}

button#clear-countries {
    background-color: lightcoral;
    color: white;
    /* border: 1px solid red */
}

button#compare-countries {
    background-color: dodgerblue;
    color: white;
    /* border: 1px solid blue; */
}

button#compare-countries:hover {
    background-color: navy;
    color: cyan;
}

button#clear-countries:hover {
    background-color: red;
    color: pink;
}

select {
    border: none;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    background-color: mediumseagreen;
    color: white
}

select > option {
    background-color: mediumseagreen;
    color: white
}

/* Table Formatting */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 10px;
    background-color: seagreen;
    color: white
}

thead > tr:first-child > th {
    /* background-color:aqua; */
    padding: 0;
} 

thead > tr:nth-child(2) > th {
    position: sticky;
    top: 0;
}

th.rank-critereon {
    background-color: forestgreen;
    color: white;
}

th.rank-critereon:hover {
    cursor: pointer;
}

th.selected {
    background-color: limegreen;
    color: white;
}

th.descending::after {
    content: " ↓";
}

th.ascending::after {
    content: " ↑";
}

td {
    padding: 10px;
}

tr {
    background-color: palegreen;
}

tr:hover {
    background-color: darkgreen;
    color: lime;
}

.medal-table {
    padding: 10px;
    height: 100%;
}

